<ul>
  <li>
    <a
      class="category"
      href="/blogs/hair-blog/tagged/the-hair-extensions-bible"
      title="The Hair Extensions Bible Posts"
    >
      <div class="purple-overlay">
        <img
          src="{{ 'The_Hair_Extensions_Bible.png' | file_url }}"
          alt="The Hair Extensions Bible"
          class="blog-sidebar-img"
          loading="lazy"
          width="200"
          height="200"
        >
      </div>

      <p class="sidebar-link">The Hair Extensions Bible</p>
    </a>
  </li>
  <li>
    <a
      class="category"
      href="/blogs/hair-blog/tagged/hair-care-tips"
      title="Hair Care & Tips"
    >
      <div class="purple-overlay">
        <img
          src="{{ 'Haircare_Advise.png' | file_url }}"
          alt="Hair Care & Tips"
          class="blog-sidebar-"
          loading="lazy"
          width="200"
          height="200"
        >
      </div>
      <p class="sidebar-link">Hair Care & Tips</p>
    </a>
  </li>
  <li>
    <a
      class="category"
      href="/blogs/hair-blog/tagged/top-trends"
      title="Top Trends"
    >
      <div class="purple-overlay">
        <img
          src="{{ 'Top_Trends.png' | file_url }}"
          alt="Top Trends"
          class="blog-sidebar-"
          loading="lazy"
          width="200"
          height="200"
        >
      </div>
      <p class="sidebar-link">Top Trends</p>
    </a>
  </li>
  <li>
    <a
      class="category"
      href="/blogs/hair-blog/tagged/styling-guides-tutorials"
      title="Styling Guides & Tutorials"
    >
      <div class="purple-overlay">
        <img
          src="{{ 'Guides_and_Tutorials.png' | file_url }}"
          alt="Styling Guides & Tutorials"
          class="blog-sidebar-"
          loading="lazy"
          width="200"
          height="200"
        >
      </div>
      <p class="sidebar-link">Styling Guides & Tutorials</p>
    </a>
  </li>
  <li>
    <a
      class="category"
      href="/blogs/hair-blog/tagged/wedding-occasion-hair"
      title="Wedding & Occasion Hair"
    >
      <div class="purple-overlay">
        <img
          src="{{ 'Wedding.png' | file_url }}"
          alt="Wedding & Occasion Hair"
          class="blog-sidebar-"
          loading="lazy"
          width="200"
          height="200"
        >
      </div>
      <p class="sidebar-link">Wedding & Occasion Hair</p>
    </a>
  </li>
  <li>
    <a
      class="category"
      href="/blogs/hair-blog/tagged/lifestyle-pop-culture"
      title="Lifestyle & Pop Culture"
    >
      <div class="purple-overlay">
        <img
          src="{{ 'Wedding.png' | file_url }}"
          alt="Lifestyle & Pop Culture"
          class="blog-sidebar-"
          loading="lazy"
          width="200"
          height="200"
        >
      </div>
      <p class="sidebar-link">Lifestyle & Pop Culture</p>
    </a>
  </li>
</ul>
