{% comment %}
  Renders a collection card

  Accepts:
  - card_title: {String} Card title
  - card_image: {Image} Card image
  - media_aspect_ratio: {String} Size of the product image card. Values are "square" and "portrait". Default is "square" (optional)
  - columns: {Number}
  - extend_height: {Boolean} Card height extends to available container space. Default: false (optional)
  - wrapper_class: {String} Wrapper class for card (optional)
  - placeholder_image: {String} Placeholder image when collection is empty (optional)
  - circle_image: {Boolean} Apply circle class to images. Default: false (optional)
  - show_title: {Boolean} Display title on the card. Default: false (optional)

  Usage:
  {% render 'card-filter-circle' %}
{% endcomment %}

{%- liquid
  unless circle_image
    assign circle_image = false
  endunless
  assign ratio = 1
  if media_aspect_ratio == 'portrait'
    assign ratio = 0.8
  elsif media_aspect_ratio == 'adapt'
    assign ratio = card_image.aspect_ratio
  endif
  if ratio == 0 or ratio == null
    assign ratio = 1
  endif
  if circle_image
    assign ratio = 1
  endif
  assign card_color_scheme = settings.card_color_scheme
  assign card_style = settings.card_style
  if wrapper_class == null or wrapper_class == 'none'
    assign card_color_scheme = settings.collection_card_color_scheme
    assign card_style = settings.collection_card_style
  endif
-%}

<div class="card-wrapper animate-arrow {% if wrapper_class and wrapper_class != 'none' %}{{ wrapper_class }}{% else %}collection-card-wrapper{% endif %}">
  <div
    class="
      card
      card--{{ card_style }}
      {% if card_image %} card--media{% else %} card--text{% endif %}
      {% if card_style == 'card' %} color-{{ card_color_scheme }} gradient{% endif %}
      {% if extend_height %} card--extend-height{% endif %}
      {% if card_image == nil and card_style == 'card' %} ratio{% endif %}
    "
    style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;"
  >
    <div
      class="card__inner {% if card_style == 'standard' %}color-{{ card_color_scheme }} gradient{% endif %}{% if card_image or card_style == 'standard' %} ratio{% endif %}"
      style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;"
    >
      {%- if card_image -%}
        <div class="card__media">
          <div class="media media--transparent media--hover-effect{% if circle_image %} image--circle{% endif %}">
            <img
              srcset="
                {%- if card_image.width >= 165 -%}{{ card_image | image_url: width: 165 }} 165w,{%- endif -%}
                {%- if card_image.width >= 330 -%}{{ card_image | image_url: width: 330 }} 330w,{%- endif -%}
                {%- if card_image.width >= 535 -%}{{ card_image | image_url: width: 535 }} 535w,{%- endif -%}
                {%- if card_image.width >= 750 -%}{{ card_image | image_url: width: 750 }} 750w,{%- endif -%}
                {%- if card_image.width >= 1000 -%}{{ card_image | image_url: width: 1000 }} 1000w,{%- endif -%}
                {%- if card_image.width >= 1500 -%}{{ card_image | image_url: width: 1500 }} 1500w,{%- endif -%}
                {%- if card_image.width >= 3000 -%}{{ card_image | image_url: width: 3000 }} 3000w,{%- endif -%}
                {{ card_image | image_url }} {{ card_image.width }}w
              "
              src="{{ card_image | image_url: width: 1500 }}"
              sizes="
                (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: columns }}px,
                (min-width: 750px) {% if columns > 1 %}calc((100vw - 10rem) / 2){% else %}calc(100vw - 10rem){% endif %},
                calc(100vw - 3rem)
              "
              alt=""
              height="{{ card_image.height }}"
              width="{{ card_image.width }}"
              loading="lazy"
              class="motion-reduce"
            >
          </div>
        </div>
      {%- endif -%}
      <div class="card__content">
        <div class="card__information">
          <h3 class="card__heading h5">
            <span
              class="full-unstyled-link"
            >
              {{ card_title }}
            </span>
          </h3>
        </div>
      </div>
    </div>
    {%- if card_style == 'card' or card_image -%}
      {% if show_title %}
        <div class="card__content">
          <div class="card__information">
            <h3 class="card__heading h5">
              <span
                class="full-unstyled-link"
              >
                {{ card_title }}
              </span>
            </h3>
            {% comment %} {% render 'features-by-type' %} {% endcomment %}
          </div>
        </div>
      {% endif %}
    {%- endif -%}
  </div>
</div>
