{% comment %}
  Renders an category card.

  Accepts:
  - blog: {Object} blog
  - category_object: {Object} Metaobject
  - scroll_to_grid: {Boolean} Scroll to article grid after click. Default: true (optional)

  Usage:
  {% render 'category-card' category_object: category_object %}
{% endcomment %}

{% unless scroll_to_grid %}
  {% assign scroll_to_grid = true %}
{% endunless %}

<a
  href="{{ blog.url }}/tagged/{{ category_object.category_tag | handle }}{% if scroll_to_grid %}#main-blog-categories{% endif %}"
  title="{{ category_object.category_custom_title | default: category_object.category_tag }} blog posts"
  class="category-card"
>
  <img
    srcset="
      {%- if category_object.category_image.value.width >= 165 -%}{{ category_object.category_image.value | image_url: width: 165 }} 165w,{%- endif -%}
      {%- if category_object.category_image.value.width >= 330 -%}{{ category_object.category_image.value | image_url: width: 330 }} 330w,{%- endif -%}
      {%- if category_object.category_image.value.width >= 535 -%}{{ category_object.category_image.value | image_url: width: 535 }} 535w,{%- endif -%}
      {%- if category_object.category_image.value.width >= 750 -%}{{ category_object.category_image.value | image_url: width: 750 }} 750w,{%- endif -%}
      {%- if category_object.category_image.value.width >= 1000 -%}{{ category_object.category_image.value | image_url: width: 1000 }} 1000w,{%- endif -%}
      {%- if category_object.category_image.value.width >= 1500 -%}{{ category_object.category_image.value | image_url: width: 1500 }} 1500w,{%- endif -%}
      {%- if category_object.category_image.value.width >= 3000 -%}{{ category_object.category_image.value | image_url: width: 3000 }} 3000w,{%- endif -%}
      {{ category_object.category_image.value | image_url }} {{ category_object.category_image.value.width }}w
    "
    src="{{ category_object.category_image.value | image_url: width: 1500 }}"
    sizes="
      (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: columns }}px,
      (min-width: 750px) {% if columns > 1 %}calc((100vw - 10rem) / 2){% else %}calc(100vw - 10rem){% endif %},
      calc(100vw - 3rem)
    "
    alt=""
    height="{{ category_object.category_image.value.height }}"
    width="{{ category_object.category_image.value.width }}"
    loading="lazy"
  >
  <p class="h5">
    {{ category_object.category_custom_title | default: category_object.category_tag }}
  </p>
</a>
