<li>
  {% assign object = collections['clip-in-hair-extensions'] %}
  <a
    id="HeaderDrawer-clip-ins-all"
    href="{{ object.url }}"
    class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if request.path == object.url %} menu-drawer__menu-item--active{% endif %}"
    {% if request.path == object.url %}
      aria-current="page"
    {% endif %}
  >
    All Clip In Hair Extensions
  </a>
</li>

<li>
  <details id="Details-menu-drawer-clip-ins-multipiece">
    <summary
      id="HeaderDrawer-clip-ins-multipiece"
      class="menu-drawer__menu-item link link--text list-menu__item focus-inset"
    >
      Multi Piece Clip Ins
      {% render 'icon-arrow' %}
      {% render 'icon-caret' %}
    </summary>
    <div
      id="childlink-multipiece"
      class="menu-drawer__submenu has-submenu gradient motion-reduce"
    >
      <button
        class="menu-drawer__close-button link link--text focus-inset"
        aria-expanded="true"
      >
        {% render 'icon-arrow' %}
        BACK
      </button>
      <ul
        class="menu-drawer__menu list-menu"
        role="list"
        tabindex="-1"
      >
        <li>
          {% assign object = collections['seamless-clip-in-hair-extensions-double-drawn-hair'] %}
          <a
            id="HeaderDrawer-clip-ins-multipiece-seamless"
            href="{{ object.url }}"
            class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if request.path == object.url %} menu-drawer__menu-item--active{% endif %}"
            {% if request.path == object.url %}
              aria-current="page"
            {% endif %}
          >
            Seamless Full Head (150-190g)
          </a>
        </li>

        <li>
          {% assign object = collections['full-head-clip-in-hair-extensions'] %}
          <a
            id="HeaderDrawer-clip-ins-multipiece-classic"
            href="{{ object.url }}"
            class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if request.path == object.url %} menu-drawer__menu-item--active{% endif %}"
            {% if request.path == object.url %}
              aria-current="page"
            {% endif %}
          >
            Classic Full Head (130g)
          </a>
        </li>

        <li>
          {% assign object = collections['double-wefted-clip-in-hair-extensions'] %}
          <a
            id="HeaderDrawer-clip-ins-multipiece-double-weft"
            href="{{ object.url }}"
            class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if request.path == object.url %} menu-drawer__menu-item--active{% endif %}"
            {% if request.path == object.url %}
              aria-current="page"
            {% endif %}
          >
            Double Weft Full Head (180-220g)
          </a>
        </li>

        <li>
          {% assign object = collections['ultra-clip-in-hair-extensions'] %}
          <a
            id="HeaderDrawer-clip-ins-multipiece-ultra"
            href="{{ object.url }}"
            class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if request.path == object.url %} menu-drawer__menu-item--active{% endif %}"
            {% if request.path == object.url %}
              aria-current="page"
            {% endif %}
          >
            Ultra-Volume Full Head (240-300g)
          </a>
        </li>

        <li>
          {% assign object = collections['curly-clip-in-hair-extensions'] %}
          <a
            id="HeaderDrawer-clip-ins-multipiece-curly"
            href="{{ object.url }}"
            class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if request.path == object.url %} menu-drawer__menu-item--active{% endif %}"
            {% if request.path == object.url %}
              aria-current="page"
            {% endif %}
          >
            Curly Full Head (115-160g)
          </a>
        </li>
      </ul>
    </div>
  </details>
</li>

<li>
  <details id="Details-menu-drawer-clip-ins-one-piece">
    <summary
      id="HeaderDrawer-clip-ins-one-piece"
      class="menu-drawer__menu-item link link--text list-menu__item focus-inset"
    >
      One Piece Hair Extensions
      {% render 'icon-arrow' %}
      {% render 'icon-caret' %}
    </summary>
    <div
      id="childlink-one-piece"
      class="menu-drawer__submenu has-submenu gradient motion-reduce"
    >
      <button
        class="menu-drawer__close-button link link--text focus-inset"
        aria-expanded="true"
      >
        {% render 'icon-arrow' %}
        BACK
      </button>
      <ul
        class="menu-drawer__menu list-menu"
        role="list"
        tabindex="-1"
      >
        <li>
          {% assign object = collections['one-piece-top-up-hair-extensions'] %}
          <a
            id="HeaderDrawer-clip-ins-one-piece-top-up"
            href="{{ object.url }}"
            class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if request.path == object.url %} menu-drawer__menu-item--active{% endif %}"
            {% if request.path == object.url %}
              aria-current="page"
            {% endif %}
          >
            Top Up Piece (40g)
          </a>
        </li>

        <li>
          {% assign object = collections['quad-weft-hair-extensions'] %}
          <a
            id="HeaderDrawer-clip-ins-one-piece-quad-weft"
            href="{{ object.url }}"
            class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if request.path == object.url %} menu-drawer__menu-item--active{% endif %}"
            {% if request.path == object.url %}
              aria-current="page"
            {% endif %}
          >
            Quad Weft Piece (80g)
          </a>
        </li>

        <li>
          {% assign object = collections['supreme-quad-weft-hair-extensions'] %}
          <a
            id="HeaderDrawer-clip-ins-one-piece-top-up"
            href="{{ object.url }}"
            class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if request.path == object.url %} menu-drawer__menu-item--active{% endif %}"
            {% if request.path == object.url %}
              aria-current="page"
            {% endif %}
          >
            Supreme Quad Piece (120g)
          </a>
        </li>
      </ul>
    </div>
  </details>
</li>

<li>
  <details id="Details-menu-drawer-clip-ins-hairpieces-ponytail">
    <summary
      id="HeaderDrawer-clip-ins-hairpieces-ponytail"
      class="menu-drawer__menu-item link link--text list-menu__item focus-inset"
    >
      Hairpieces & Ponytails
      {% render 'icon-arrow' %}
      {% render 'icon-caret' %}
    </summary>
    <div
      id="childlink-hairpieces-ponytail"
      class="menu-drawer__submenu has-submenu gradient motion-reduce"
    >
      <button
        class="menu-drawer__close-button link link--text focus-inset"
        aria-expanded="true"
      >
        {% render 'icon-arrow' %}
        BACK
      </button>
      <ul
        class="menu-drawer__menu list-menu"
        role="list"
        tabindex="-1"
      >
        <li>
          {% assign object = collections['clip-in-ponytail-extensions'] %}
          <a
            id="HeaderDrawer-clip-ins-hairpieces-ponytail-ponytail"
            href="{{ object.url }}"
            class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if request.path == object.url %} menu-drawer__menu-item--active{% endif %}"
            {% if request.path == object.url %}
              aria-current="page"
            {% endif %}
          >
            Clip In Ponytail (100-140g)
          </a>
        </li>
        <li>
          {% assign object = collections['fringe-clip-in-hair-extensions'] %}
          <a
            id="HeaderDrawer-clip-ins-hairpieces-ponytail-fringe"
            href="{{ object.url }}"
            class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if request.path == object.url %} menu-drawer__menu-item--active{% endif %}"
            {% if request.path == object.url %}
              aria-current="page"
            {% endif %}
          >
            Clip In Fringe (30g)
          </a>
        </li>
      </ul>
    </div>
  </details>
</li>

<li>
  {% assign object = collections['hair-extensions-bundle'] %}
  <a
    id="HeaderDrawer-clip-ins-bundle"
    href="{{ object.url | append: "/clip-in-bundle" }}"
    class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if request.path == object.url %} menu-drawer__menu-item--active{% endif %}"
    {% if request.path == object.url %}
      aria-current="page"
    {% endif %}
  >
    Clip In Extensions Value Bundles
  </a>

<li>
  {% assign object = all_products['cliphair-e-gift-card'] %}
  <a
    id="HeaderDrawer-clip-ins-gift-card"
    href="{{ object.url }}"
    class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if request.path == object.url %} menu-drawer__menu-item--active{% endif %}"
    {% if request.path == object.url %}
      aria-current="page"
    {% endif %}
  >
    E-Gift Card
  </a>
</li>
