<title>
  {% if current_tags %}
    {{ page_title | remove: shop.name | remove : "|" | strip }} | {{ current_tags | join: ', ' }} {%- if current_page != 1 %} | Page {{ current_page }} {% endif -%}| {{ shop.name }}
  {% else %}
    {{ page_title }}{%- if current_page != 1 %} | Page {{ current_page }}{% endif -%}{%- unless page_title contains shop.name %} | {{ shop.name }}{% endunless -%}
  {% endif %}
  
  {% comment %}
    {{ page_title }}
    {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
    {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
    {%- unless page_title contains shop.name %} | {{ shop.name }}{% endunless -%}
  {% endcomment %}
</title>