<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">

    <!-- Manual canonical page.list-of-collections -->
    {% liquid
      if template.name == 'page' and template.suffix == 'list-of-collections'
        case handle
          when 'red-hair-extensions'
            assign canonical_url = '{{ shop.domain }}/collections/red-hair-extensions'
          when 'ombre-hair-extensions'
            assign canonical_url = '{{ shop.domain }}/collections/ombre-hair-extensions'
          when 'blonde-hair-extensions'
            assign canonical_url = '{{ shop.domain }}/collections/blonde-hair-extensions'
        endcase
      endif
    %}

    <link rel="canonical" href="{{ canonical_url }}">

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    {%- unless settings.type_header_font.system? and settings.type_body_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    {% render 'meta-title' %}
    {% render 'meta-description' %}
    {% render 'meta-tags' %}

    <meta name="referrer" content="no-referrer-when-downgrade">

    <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>

    {% liquid
      assign third_char = request.path | slice: 3
      assign has_subfolder = false
      if third_char == '-'
        assign has_subfolder = true
      endif

      if has_subfolder
        assign subfolder = request.path | slice: 0, 6
        assign new_path = request.path | remove: subfolder
      endif
    %}
    {% capture x_default %}{% if has_subfolder %}<link rel="alternate" hreflang="x-default" href="{{ shop.url | append:new_path }}">{% else %}<link rel="alternate" hreflang="x-default" href="{{ canonical_url }}">{% endif %}{% endcapture %}
    {% capture new_content_for_header %}{{ content_for_header | remove: x_default }}{% endcapture %}
    {% assign content_for_header = new_content_for_header %}
    {{ content_for_header }}

    <!-- Manual hreflang between UK and US sites -->
    {% render 'hreflang' %}
    <!-- End manual hreflang between UK and US sites -->

    {% render 'css-variables' %}
    {{ 'base.css' | asset_url | stylesheet_tag }}

    {%- unless settings.type_body_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.type_body_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}
    {%- unless settings.type_header_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.type_header_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}

    {%- if localization.available_countries.size > 1 or localization.available_languages.size > 1 -%}
      {{ 'component-localization-form.css' | asset_url | stylesheet_tag: preload: true }}
    {%- endif -%}

    {%- if settings.predictive_search_enabled -%}
      <link
        rel="stylesheet"
        href="{{ 'component-predictive-search.css' | asset_url }}"
        media="print"
        onload="this.media='all'"
      >
    {%- endif -%}

    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
      if (Shopify.designMode) {
        document.documentElement.classList.add('shopify-design-mode');
      }
    </script>

    <!-- Google Ads: 431880534 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-431880534"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'AW-431880534', { ' allow_enhanced_conversions': true });
    </script>
    <!-- End Google Ads: 431880534 -->

    <!-- Google Search Console Tags -->
    <meta name="google-site-verification" content="BVpFo-CntJAybRrKFseL3P5a24wCEa3MFDV1panNZd8">
    <meta name="google-site-verification" content="B_twaEttbrJH6LVuG8Z_vu6y-bWCSNC8Z3vP68thvNI">
    <!-- End Google Search Console Tags -->

    <!-- Code for Merchant centre site approval 16-06-2020 -->
    <meta name="google-site-verification" content="HvAqHHuAuJHeEcYJApy0_ntuJ3siwlX4pstL0cHorNc">
    <!-- End Code for Merchant centre site approval 16-06-2020 -->

    <!-- Hotjar Tracking Code for https://www.cliphair.com/ -->
    <script>
      (function (h, o, t, j, a, r) {
        h.hj =
          h.hj ||
          function () {
            (h.hj.q = h.hj.q || []).push(arguments);
          };
        h._hjSettings = { hjid: 3577648, hjsv: 6 };
        a = o.getElementsByTagName('head')[0];
        r = o.createElement('script');
        r.async = 1;
        r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
        a.appendChild(r);
      })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
    </script>
    <!-- End Hotjar Tracking Code -->

    <!-- Facebook verification -->
    <meta name="facebook-domain-verification" content="iotntgg1642pis4vx37iyvq26ja8c0">
    <!-- End Facebook Verification -->
  </head>

  <body
    class="
      {% if settings.animations_hover_elements != 'none' %} animate--hover-{{ settings.animations_hover_elements }}{% endif %}
      {% if request.page_type == 'index' %}home{% endif %}
    "
  >
    <a class="skip-to-content-link button visually-hidden" href="#MainContent">
      {{ 'accessibility.skip_to_text' | t }}
    </a>

    {%- if settings.cart_type == 'drawer' -%}
      {%- render 'cart-drawer' -%}
    {%- endif -%}

    {% sections 'header-group' %}

    <main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>

    {% sections 'footer-group' %}

    <ul hidden>
      <li id="a11y-refresh-page-message">{{ 'accessibility.refresh_page' | t }}</li>
      <li id="a11y-new-window-message">{{ 'accessibility.link_messages.new_window' | t }}</li>
    </ul>

    <script src="{{ 'constants.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'pubsub.js' | asset_url }}" defer="defer"></script>
    {%- if settings.animations_reveal_on_scroll -%}
      <script src="{{ 'animations.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}

    <script>
      window.shopUrl = '{{ request.origin }}';
      window.routes = {
        cart_add_url: '{{ routes.cart_add_url }}',
        cart_change_url: '{{ routes.cart_change_url }}',
        cart_update_url: '{{ routes.cart_update_url }}',
        cart_url: '{{ routes.cart_url }}',
        predictive_search_url: '{{ routes.predictive_search_url }}',
      };

      window.cartStrings = {
        error: `{{ 'sections.cart.cart_error' | t }}`,
        quantityError: `{{ 'sections.cart.cart_quantity_error_html' | t: quantity: '[quantity]' }}`,
      };

      window.variantStrings = {
        addToCart: `{{ 'products.product.add_to_cart' | t }}`,
        soldOut: `{{ 'products.product.sold_out' | t }}`,
        unavailable: `{{ 'products.product.unavailable' | t }}`,
        unavailable_with_option: `{{ 'products.product.value_unavailable' | t: option_value: '[value]' }}`,
      };

      window.quickOrderListStrings = {
        itemsAdded: `{{ 'sections.quick_order_list.items_added.other' | t: quantity: '[quantity]' }}`,
        itemAdded: `{{ 'sections.quick_order_list.items_added.one' | t: quantity: '[quantity]' }}`,
        itemsRemoved: `{{ 'sections.quick_order_list.items_removed.other' | t: quantity: '[quantity]' }}`,
        itemRemoved: `{{ 'sections.quick_order_list.items_removed.one' | t: quantity: '[quantity]' }}`,
        viewCart: `{{- 'sections.quick_order_list.view_cart' | t -}}`,
        each: `{{- 'sections.quick_order_list.each' | t: money: '[money]' }}`,
      };

      window.accessibilityStrings = {
        imageAvailable: `{{ 'products.product.media.image_available' | t: index: '[index]' }}`,
        shareSuccess: `{{ 'general.share.success_message' | t }}`,
        pauseSlideshow: `{{ 'sections.slideshow.pause_slideshow' | t }}`,
        playSlideshow: `{{ 'sections.slideshow.play_slideshow' | t }}`,
        recipientFormExpanded: `{{ 'recipient.form.expanded' | t }}`,
        recipientFormCollapsed: `{{ 'recipient.form.collapsed' | t }}`,
      };
    </script>

    {%- if settings.predictive_search_enabled -%}
      <script src="{{ 'predictive-search.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}

    {%- if localization.available_countries.size > 1 or localization.available_languages.size > 1 -%}
      <script src="{{ 'localization-form.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}

    <!-- Start custom scripts -->
    <script src="{{ 'cliphair.js' | asset_url }}" defer="defer"></script>
    <!-- End custom scripts -->
  </body>
</html>
