{{ 'section-article-trending.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-article-card.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}
{{ 'section-collage-bg.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  /* .collage-bg-wrapper .content-bg{
    background-color: rgba(var(--color-background), {{ section.settings.bg_opacity }});
  } */
{%- endstyle -%}

<style>
  .bg-holder > .row{
    height:calc(100% / {{ section.settings.mobile-row }})
  }

  .bg-holder > .row > .column{
    width:calc(100% / {{ section.settings.mobile-column }})
  }

  @media screen and (min-width:990px){
    .bg-holder > .row{
      height:calc(100% / {{ section.settings.desktop-row }})
    }

    .bg-holder > .row > .column{
      width:calc(100% / {{ section.settings.desktop-column }})
    }
  }
</style>

{% liquid
  assign images_array = section.blocks | where: 'type', 'image'
  assign total_images = images_array.size | minus: 1
  assign current_image_index = 0
%}

{% liquid
  assign image_ratio = 0
  if section.settings.image_ratio == 'square'
    assign image_ratio = 1
  elsif section.settings.image_ratio == 'portrait'
    assign image_ratio = 0.6667
  else
    assign image_ratio = 1.7778
  endif
%}

{%- liquid
  assign list_size = section.settings['trending-list'].links.size

  assign columns_mobile_int = 1
  assign show_mobile_slider = false
  if list_size > columns_mobile_int
    assign show_mobile_slider = true
  endif

  assign columns_desktop_int = 4
  assign show_desktop_slider = false
  if list_size > columns_desktop_int
    assign show_desktop_slider = true
  endif

  assign show_tablet_slider = false
  assign columns_tablet = columns_desktop_int | plus: columns_mobile_int | divided_by: 2 | ceil
  if list_size > columns_tablet
    assign show_tablet_slider = true
  endif
-%}

<div class="collage-bg-wrapper">
  {% comment %}
    {% if section.blocks.size != 0 %}
      <div class="mobile-bg-holder bg-holder">
        {% for row in (1..section.settings['mobile-row']) %}
          <div class="row">
            {% for column in (1..section.settings['mobile-column']) %}
              <div class="column">
                {% assign image = images_array[current_image_index].settings.image %}
                <img
                  src="{{ image | image_url }}"
                  width="{{ image.width }}"
                  height="{{ image.height }}"
                  alt="{{ image.alt }}"
                  loading="lazy"
                >
                {% liquid
                  if current_image_index == total_images
                    assign current_image_index = 0
                  else
                    assign current_image_index = current_image_index | plus: 1
                  endif
                %}
              </div>
            {% endfor %}
          </div>
        {% endfor %}
      </div>
      <div class="desktop-bg-holder bg-holder">
        {% for row in (1..section.settings['desktop-row']) %}
          <div class="row">
            {% for column in (1..section.settings['desktop-column']) %}
              <div class="column">
                {% assign image = images_array[current_image_index].settings.image %}
                <img
                  src="{{ image | image_url }}"
                  width="{{ image.width }}"
                  height="{{ image.height }}"
                  alt="{{ image.alt }}"
                  loading="lazy"
                >
                {% liquid
                  if current_image_index == total_images
                    assign current_image_index = 0
                  else
                    assign current_image_index = current_image_index | plus: 1
                  endif
                %}
              </div>
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    {% endif %}
  {% endcomment %}

  <div class="content-bg color-{{ section.settings.color_scheme }} gradient ">
    <div class="page-width section-{{ section.id }}-padding" style="padding-right:0; padding-left:0;">
      {%- unless section.settings.heading == blank -%}
        <div class="page-width title-wrapper title-wrapper--no-top-margin {{ section.settings.heading_alignment }}">
          <h2
            id="SectionHeading-{{ section.id }}"
            class="blog__title inline-richtext {{ section.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
            {% if settings.animations_reveal_on_scroll %}
              data-cascade
            {% endif %}
          >
            {{ section.settings.heading }}
          </h2>
        </div>
      {%- endunless -%}

      <slider-component class="slider-mobile-gutter{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
        <ul
          class="articles-list grid grid--{{ columns_desktop_int }}-col-desktop grid--{{ columns_tablet }}-col-tablet grid--{{ columns_mobile_int }}-col-tablet-down slider slide-mobile-{{ show_mobile_slider }} slide-tablet-{{ show_tablet_slider }} slide-desktop-{{ show_desktop_slider }} grid--peek slider--tablet slider--desktop articles-list--{{ list_size }}-items"
          id="Slider-{{ section.id }}"
          role="list"
        >
          {%- liquid
            assign columns = list_size
            if columns > 3
              assign columns = 3
            endif
          -%}

          {% for link in section.settings['trending-list'].links %}
            {% if link.type == 'article_link' %}
              <li
                id="Slide-{{ section.id }}-{{ forloop.index }}"
                class="articles-list__item grid__item{% if show_mobile_slider or show_desktop_slider %} slider__slide{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                {{ block.shopify_attributes }}
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                  style="--animation-order: {{ forloop.index }};"
                {% endif %}
              >
                {% render 'article-card',
                  blog: blog,
                  article: link.object,
                  media_aspect_ratio: image_ratio,
                  show_image: section.settings.show_image,
                  show_date: section.settings.show_date,
                  show_author: section.settings.show_author,
                  show_excerpt: false,
                  custom_style: 'card',
                  image_src: 'metafields'
                %}
              </li>
            {% endif %}
          {% endfor %}
        </ul>
        {%- if show_mobile_slider or show_desktop_slider -%}
          <div class="slider-buttons small-hide no-js-hidden slider--{{ columns_desktop_int }}-col-desktop slider--{{ columns_mobile_int }}-col-tablet-down">
            <button
              type="button"
              class="slider-button slider-button--prev"
              name="previous"
              aria-label="{{ 'general.slider.previous_slide' | t }}"
            >
              {% render 'icon-caret' %}
            </button>
            <div class="slider-counter caption visually-hidden">
              <span class="slider-counter--current">1</span>
              <span aria-hidden="true"> / </span>
              <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
              <span class="slider-counter--total">{{ list_size }}</span>
            </div>
            <button
              type="button"
              class="slider-button slider-button--next"
              name="next"
              aria-label="{{ 'general.slider.next_slide' | t }}"
            >
              {% render 'icon-caret' %}
            </button>
          </div>
        {%- endif -%}
      </slider-component>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Trending articles",
  "tag": "section",
  "class": "section section-trending-articles",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "Blog posts",
      "label": "t:sections.featured-blog.settings.heading.label"
    },
    {
      "type": "link_list",
      "id": "trending-list",
      "label": "Tranding articles list"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "select",
      "id": "heading_alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left",
      "label": "Heading alignment"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.has_cards_info",
      "default": "background-1"
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "default": true,
      "label": "t:sections.featured-blog.settings.show_image.label"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "label": "Image ratio",
      "options": [
        {
          "value": "square",
          "label": "Square"
        },
        {
          "value": "portrait",
          "label": "Portrait"
        },
        {
          "value": "landscape",
          "label": "Landscape"
        }
      ],
      "default": "square"
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "default": true,
      "label": "t:sections.featured-blog.settings.show_date.label"
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "default": false,
      "label": "t:sections.featured-blog.settings.show_author.label"
    },
    {
      "type": "header",
      "content": "Background settings"
    },
    {
      "type": "range",
      "id": "bg_opacity",
      "min": 0,
      "max": 1,
      "step": 0.1,
      "label": "Background opacity",
      "default": 0.2
    },
    {
      "type": "range",
      "id": "mobile-row",
      "min": 1,
      "max": 5,
      "step": 1,
      "unit": "un",
      "label": "Mobile rows",
      "default": 1
    },
    {
      "type": "range",
      "id": "mobile-column",
      "min": 1,
      "max": 10,
      "step": 1,
      "unit": "un",
      "label": "Mobile columns",
      "default": 1
    },
    {
      "type": "range",
      "id": "desktop-row",
      "min": 1,
      "max": 5,
      "step": 1,
      "unit": "un",
      "label": "Desktop rows",
      "default": 1
    },
    {
      "type": "range",
      "id": "desktop-column",
      "min": 1,
      "max": 10,
      "step": 1,
      "unit": "un",
      "label": "Desktop columns",
      "default": 1
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Background image",
      "settings": [
        {
          "type": "image_picker",
          "label": "Background image",
          "id": "image"
        }
      ]
    }
  ],
  "presets": [{ "name": "Trending articles" }]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
