<link rel="preload" href="{{ 'section-bridal23-custom-text.css' | asset_url }}" as="style" onload="this.rel = 'stylesheet'" />
<noscript>
  {{ 'section-bridal23-custom-text.css' | asset_url | stylesheet_tag }}
</noscript>

{% if section.settings.max-width != empty %}
  <style>
    #section-{{ section.id }} > .inner-container{
      max-width:{{ section.settings.max-width }}px;
    }
  </style>
{% endif %}

<style>
  #section-{{ section.id }}{
    padding-top:{{ section.settings.mobile-p_top }}px;
    padding-bottom:{{ section.settings.mobile-p_bottom }}px;
    padding-right:{{ section.settings.mobile-p_right }}px;
    padding-left:{{ section.settings.mobile-p_left }}px;
    background:{{ section.settings.bg-colour }};
  }

  #section-{{ section.id }} > .inner-container > .title-container > *{
    font-size:{{ section.settings.title-mobile-f_size }}px;
    color:{{ section.settings.title-color }};
  }

  #section-{{ section.id }} > .inner-container > .text-container > *{
    font-size:{{ section.settings.text-mobile-f_size }}px;
    color:{{ section.settings.text-color }};
  }

  #section-{{ section.id }} > .inner-container > .text-container span.number{
      width: {{ section.settings.text-mobile-f_size }}px;
      height:{{ section.settings.text-mobile-f_size }}px;
      background: {{ section.settings.text-color }};
      color: {{ section.settings.bg-colour }};
  }

  #section-{{ section.id }} > .inner-container > a{
    font-size:{{ section.settings.btn-mobile-f_size }}px;
    color:{{ section.settings.btn-color }};
    background:{{ section.settings.btn-bg-color }};
  }

  @media screen and (min-width:992px){
    #section-{{ section.id }}{
      padding-top:{{ section.settings.desktop-p_top }}px;
      padding-bottom:{{ section.settings.desktop-p_bottom }}px;
      padding-right:{{ section.settings.desktop-p_right }}px;
      padding-left:{{ section.settings.desktop-p_left }}px;
    }
  
    #section-{{ section.id }} > .inner-container > .title-container > *{
      font-size:{{ section.settings.title-desktop-f_size }}px;
    }

    #section-{{ section.id }} > .inner-container > .text-container > *{
      font-size:{{ section.settings.text-desktop-f_size }}px;
    }

    #section-{{ section.id }} > .inner-container > .text-container span.number{
      width: {{ section.settings.text-desktop-f_size }}px;
      height:{{ section.settings.text-desktop-f_size }}px;
    }
  
    #section-{{ section.id }} > .inner-container > a{
      font-size:{{ section.settings.btn-desktop-f_size }}px;
    }
  } 
</style>

<section id='section-{{ section.id }}' class='bridal23-hair-quiz-section'>
  <div class='inner-container'>
    {% for block in section.blocks %}
      {% case block.type %}
        {% when "title" %}
          {% if block.settings.title != empty %}<div class='title-container'>{{ block.settings.title }}</div>{% endif %}
        {% when "intro" %}
          {% if block.settings.intro != empty %}<div class='text-container'>{{ block.settings.intro }}</div>{% endif %}
        {% when "html-intro" %}
          {% if block.settings.html-intro != empty %}<div class='text-container'>{{ block.settings.html-intro }}</div>{% endif %}
        {% when "button" %}
          {% if block.settings.btn-text != empty and block.settings.btn-url %}
            <a href='{{ block.settings.btn-url }}'>
              {{ block.settings.btn-text }}
            </a>
          {% endif %}
      {% endcase %}
    {% endfor %}
  </div>
</section>

{% schema %}
  {
    "name": "Bridal 23 Custom Text",
    "settings": [
      {
        "type": "header",
        "content": "Section Settings"
      },
      {
        "type": "text",
        "label": "Max Width",
        "id": "max-width"
      },
      {
        "type": "color",
        "label": "Background Colour",
        "id": "bg-colour",
        "default": "#FFFFFF"
      },
      {
        "type": "header",
        "content": "Mobile Settings"
      },
      {
        "type": "range",
        "id": "mobile-p_top",
        "min": 0,
        "max": 50,
        "step": 2,
        "unit": "px",
        "label": "Padding Top",
        "default": 0
      },
      {
        "type": "range",
        "id": "mobile-p_bottom",
        "min": 0,
        "max": 50,
        "step": 2,
        "unit": "px",
        "label": "Padding Bottom",
        "default": 0
      },
      {
        "type": "range",
        "id": "mobile-p_right",
        "min": 0,
        "max": 50,
        "step": 2,
        "unit": "px",
        "label": "Padding Right",
        "default": 0
      },
      {
        "type": "range",
        "id": "mobile-p_left",
        "min": 0,
        "max": 50,
        "step": 2,
        "unit": "px",
        "label": "Padding Left",
        "default": 0
      },
      {
        "type": "header",
        "content": "Desktop Settings"
      },
      {
        "type": "range",
        "id": "desktop-p_top",
        "min": 0,
        "max": 50,
        "step": 2,
        "unit": "px",
        "label": "Padding Top",
        "default": 0
      },
      {
        "type": "range",
        "id": "desktop-p_bottom",
        "min": 0,
        "max": 50,
        "step": 2,
        "unit": "px",
        "label": "Padding Bottom",
        "default": 0
      },
      {
        "type": "range",
        "id": "desktop-p_right",
        "min": 0,
        "max": 50,
        "step": 2,
        "unit": "px",
        "label": "Padding Right",
        "default": 0
      },
      {
        "type": "range",
        "id": "desktop-p_left",
        "min": 0,
        "max": 50,
        "step": 2,
        "unit": "px",
        "label": "Padding Left",
        "default": 0
      },
      {
        "type": "header",
        "content": "Title Settings"
      },
      {
        "type": "range",
        "id": "title-mobile-f_size",
        "min": 12,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Font Size (mobile)",
        "default": 12
      },
      {
        "type": "range",
        "id": "title-desktop-f_size",
        "min": 12,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Font Size (desktop)",
        "default": 12
      },
      {
        "type": "color",
        "id": "title-color",
        "label": "Colour",
        "default": "#000000"
      },
      {
        "type": "header",
        "content": "Text Settings"
      },
      {
        "type": "range",
        "id": "text-mobile-f_size",
        "min": 12,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Font Size (mobile)",
        "default": 12
      },
      {
        "type": "range",
        "id": "text-desktop-f_size",
        "min": 12,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Font Size (desktop)",
        "default": 12
      },
      {
        "type": "color",
        "id": "text-color",
        "label": "Colour",
        "default": "#000000"
      },
      {
        "type": "header",
        "content": "Button Settings"
      },
      {
        "type": "range",
        "id": "btn-mobile-f_size",
        "min": 12,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Font Size (mobile)",
        "default": 12
      },
      {
        "type": "range",
        "id": "btn-desktop-f_size",
        "min": 12,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Font Size (desktop)",
        "default": 12
      },
      {
        "type": "color",
        "id": "btn-color",
        "label": "Colour",
        "default": "#000000"
      },
      {
        "type": "color",
        "id": "btn-bg-color",
        "label": "Background Colour",
        "default": "#FFFFFF"
      }
    ],
    "blocks": [
      {
        "type": "title",
        "name": "Title",
        "limit": 1,
        "settings": [
          {
            "type": "richtext",
            "label": "Section Title",
            "id": "title"
          }
        ]
      },
      {
        "type": "intro",
        "name": "Richtext Intro",
        "settings": [
          {
            "type": "richtext",
            "label": "Section Intro",
            "id": "intro"
          }
        ]
      },
      {
        "type": "html-intro",
        "name": "HTML Intro",
        "settings": [
          {
            "type": "html",
            "label": "Section Intro",
            "id": "html-intro"
          }
        ]
      },
      {
        "type": "button",
        "name": "Button",
        "settings": [
          {
            "type": "text",
            "label": "Button Text",
            "id": "btn-text"
          },
          {
            "type": "url",
            "label": "Button Url",
            "id": "btn-url",
            "info": "Add the URL you want to send the user to."
          }
        ]
      }
    ]
  }
{% endschema %}