{{ 'countdown.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="color-{{ section.settings.color_scheme }} gradient">
  <div class="page-width section-{{ section.id }}-padding timer no-js-hidden">
    <div class="section-countdown">
      <p class="section-text h5 center">{{ section.settings.text }}</p>
      <custom-countdown
        class="countdown"
        data-end-day="{{ section.settings.day }}"
        data-end-month="{{ section.settings.month }}"
        data-end-year="{{ section.settings.year }}"
        data-end-hour="{{ section.settings.hour }}"
        data-end-minute="{{ section.settings.minute }}"
      >
        <div class="countdown__container">
          <span class="countdown__days h2">00</span>
          <span class="countdown__label h5">days</span>
        </div>

        <div class="countdown__container">
          <span class="countdown__hours h2">00</span>
          <span class="countdown__label h5">hours</span>
        </div>

        <div class="countdown__container">
          <span class="countdown__minutes h2">00</span>
          <span class="countdown__label h5">minutes</span>
        </div>

        <div class="countdown__container">
          <span class="countdown__seconds h2">00</span>
          <span class="countdown__label h5">seconds</span>
        </div>
      </custom-countdown>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Countdown",
  "tag": "section",
  "class": "section section-countdown-container",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
    {
      "type": "header",
      "content": "End date"
    },
    {
      "type": "number",
      "id": "year",
      "label": "Year",
      "default": 2024
    },
    {
      "type": "select",
      "id": "month",
      "label": "Month",
      "options": [
        { "value": "1", "label": "January" },
        { "value": "2", "label": "February" },
        { "value": "3", "label": "March" },
        { "value": "4", "label": "April" },
        { "value": "5", "label": "May" },
        { "value": "6", "label": "June" },
        { "value": "7", "label": "July" },
        { "value": "8", "label": "August" },
        { "value": "9", "label": "September" },
        { "value": "10", "label": "October" },
        { "value": "11", "label": "November" },
        { "value": "12", "label": "December" }
      ],
      "default": "5"
    },
    {
      "type": "range",
      "id": "day",
      "label": "Day",
      "min": 1,
      "max": 31,
      "step": 1,
      "default": 1
    },
    {
      "type": "range",
      "id": "hour",
      "label": "Hour",
      "min": 0,
      "max": 23,
      "step": 1,
      "default": 12
    },
    {
      "type": "range",
      "id": "minute",
      "label": "Minute",
      "min": 0,
      "max": 59,
      "step": 1,
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    }
  ],
  "presets": [
    {
      "name": "Countdown"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
